@import 'tailwindcss';

@plugin "daisyui" {
	themes: light --default, night --prefersdark;
}

.sun-icon,
.moon-icon {
	font-size: 0.8rem;
}

.sun-icon:before {
	/* Unicode character for sun */
	content: '\1F31E';
}

.moon-icon:before {
	/* Unicode character for crescent moon */
	content: '\1F319';
}